<%- include ("header") -%>

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.ejs">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Profil</span></p> <i class="ion-ios-arrow-forward"></i></a></span> <span>Ajouter une compétence</span></p>
            <h1 class="mb-3 bread">Ajouter une compétences</h1>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <% if (user_info) { %>
      <form action="/add_competence_service" method="POST" id="compe"class="bg-white contact-form">
			<h2>Compétence</h2>
      <% if (errDate) { %>
        <div class="alert alert-danger col-sm-12"><%= errDate %></div>
        <%} %>

              <div class="form-group">

                <select name=domain id="select_id" class="form-control" onclick='get_id_domaine()' required>
                <option name="" value="" disabled >Domaine</option>
                <!-- A récuperer de la bd-->
             <% for (const domain of domaine) { %>

                  <option name="" value="<%= domain.id_domaine%>" ><%= domain.nom_domaine%></option>

                <% } %>


              </select>
            </div>

    			  <div class="form-group">
              <select name="competence" id="competence" class="form-control" required>
                <option value="" disabled>Compétences</option>
              </select>

            </div>

            <div class="form-group">
                <input type="date" name="date" id="date" class="form-control" value="2020-01-01" min="2020-01-01" max="2021-12-31" required>
            </div>

            <div class="form-group">
              <input class="form-control" name="time" type="time" id="time" name="heure"min="08:00" max="22:00" required>
            </div>

            <div class="form-group">

            <select name="villes" id="villes" class="form-control" required>
                        <option value="" disabled>Ville</option>
            <!-- A récuperer de la bd-->
         <% for (const Ville of model) { %>

              <option value="<%=Ville.id%>"><%= Ville.nom %></option>

            <% } %>
              </select>

              </div>


              <div class="form-group">
                <input type="submit" value="Ajouter la compétence" class="btn btn-primary py-3 px-5 center">
              </div>

            </form>
            <% }else {%>
                   <div class="alert alert-danger col-sm-12">Vous etes pas connecté!! Vous devrez vous connecter pour ajouter une compétence</div>

                 <%} %>
    </div>
    <div class="col">
    </div>
  </div>
  </div>

<%- include ("footer") -%>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  <script>
  /*Affichage des compétences deans le select de compétence*/
  function get_id_domaine() {
  var id = document.getElementById("select_id").value;

   var formu    = document.getElementById("compe");
   var selcom    = document.getElementById("competence");
   while (selcom.hasChildNodes())
   {
     // Supprime le premier noeud.
     selcom.removeChild(selcom.firstChild);
   }

   switch(id){
     case "1":

     var opt = document.createElement("option");
     opt.setAttribute("value", "1");
     var itmText = document.createTextNode("Tailler des rosiers");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "2");
     var itmText = document.createTextNode("Tailler herbe");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "3");
     var itmText = document.createTextNode("Couper des branches");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "4");
     var itmText = document.createTextNode("Planter");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "2":

     var opt = document.createElement("option");
     opt.setAttribute("value", "5");
     var itmText = document.createTextNode("Installation des logiciels");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "6");
     var itmText = document.createTextNode("Formatage équipement");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "7");
     var itmText = document.createTextNode("Réparation matériel");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "3":

     var opt = document.createElement("option");
     opt.setAttribute("value", "8");
     var itmText = document.createTextNode("Cours supplémentaires matière scientifique");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "9");
     var itmText = document.createTextNode("Cours supplémentaires matière littéraires");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "10");
     var itmText = document.createTextNode("Cours de musique");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "4":

     var opt = document.createElement("option");
     opt.setAttribute("value", "11");
     var itmText = document.createTextNode("Réparation meuble");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "12");
     var itmText = document.createTextNode("Réparation vélo");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "13");
     var itmText = document.createTextNode("Réparation voiture");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "14");
     var itmText = document.createTextNode("Réparer des serrures");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "5":

     var opt = document.createElement("option");
     opt.setAttribute("value", "15");
     var itmText = document.createTextNode("Peinture");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "16");
     var itmText = document.createTextNode("Couler une dalle de béton");
     opt.appendChild(itmText);
     selcom.appendChild(opt);


     break;

     case "6":

     var opt = document.createElement("option");
     opt.setAttribute("value", "17");
     var itmText = document.createTextNode("Epilation");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "18");
     var itmText = document.createTextNode("Maquillage");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "19");
     var itmText = document.createTextNode("Coiffure");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "20");
     var itmText = document.createTextNode("Onglerie");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "7":

     var opt = document.createElement("option");
     opt.setAttribute("value", "21");
     var itmText = document.createTextNode("Soigner une plaie");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "22");
     var itmText = document.createTextNode("Faire des piqûres");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "8":

     var opt = document.createElement("option");
     opt.setAttribute("value", "23");
     var itmText = document.createTextNode("Recoudre un vêtement");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "24");
     var itmText = document.createTextNode("Prendre des mesures");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "9":

     var opt = document.createElement("option");
     opt.setAttribute("value", "25");
     var itmText = document.createTextNode("Ménage");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "26");
     var itmText = document.createTextNode("Accompagnement sénior");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "10":

     var opt = document.createElement("option");
     opt.setAttribute("value", "27");
     var itmText = document.createTextNode("Préparation repas");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "28");
     var itmText = document.createTextNode("Apprentissage recette");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;
   }

  }
  </script>


  </body>
</html>
