<%- include ("header") -%>
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-12 ftco-animate text-center mb-5">
      <p class="breadcrumbs mb-0"><span class="mr-3"><a href="/">Accueil <i class="ion-ios-arrow-forward"></i></a></span>
      <span>Mes services demandés</span></p>

        <h1 class="mb-3 bread">Services demandés</h1>
      </div>
    </div>
  </div>
</div>

<% if (user_info) { %>

      <div class="container">
        <div class="row">
          <div class="col-lg-9 pr-lg-4">
            <div class="row">
              <h1 class="mb-3 bread"><%= user_info.prenom%> <%= user_info.nom%></h1>

<% for (const dem of dem_info) { %>
              <div class="col-md-12 ftco-animate">
                <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                  <div class="one-third mb-4 mb-md-0">
                    <div class="job-post-item-header align-items-center">
                      <span class="subadge"><%= dem.nom_domaine%></span>
                      <h2 class="mr-3 text-black">Demande : <%= dem.nom_comp%></h2>
                    </div>
                    <div class="job-post-item-body d-block d-md-flex">
                      <div class="mr-3"><span class="icon-layers"></span><%= dem.date%> à <%=dem.horaire%></div>
                      <div><span class="icon-my_location"></span> <span><%=dem.nom%></span></div>
                    </div>
                  </div>
                  <div>
                  <a href="/Annuler_demande/<%= dem.id%>" class="btn btn-primary py-2">Annuler</a>
                  </div>
                </div>
              </div><!-- end -->

<% } %>

            </div>
          </div>
          </div>
        </div>
    </section>

<% } else {%>
       <div class="alert alert-danger col-sm-12">Vous etes pas connecté!! Vous devrez vous connecter pour voir vos demandes</div>

     <%} %>
    <%- include ("footer") -%>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
