<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
        	<div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Echange de Service</h2>
              <p>L’application Echange de service permet d’offrir ses compétences en échange d’autre compétences dans le but de s'aider.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Admin</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="pb-1 d-block">Connexion Admin</a></li>
                <li><a href="#" class="pb-1 d-block">Consulter Compétences</a></li>
                <li><a href="#" class="pb-1 d-block">Ajouter ville</a></li>
                <li><a href="#" class="pb-1 d-block">Ajouter compétence</a></li>
                <li><a href="#" class="pb-1 d-block">Dashboard</a></li>

              </ul>
            </div>
          </div>

          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Compte</h2>
              <ul class="list-unstyled">
                <li><a href="profil.html" class="pb-1 d-block">Profil</a></li>
                <li><a href="/login" class="pb-1 d-block">Se Connecter</a></li>
                <li><a href="sign-up.html" class="pb-1 d-block">Créer un compte</a></li>

              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Avez vous des Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">150 Avenue de Lespinet, Toulouse 31400</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">echangeService@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">


          </div>
        </div>
      </div>
    </footer>
