<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Echange de Competences </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid px-md-4 ">
          <a class="navbar-brand" href="/"><I>Echange de service<I></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <% if (!user_info) { %>
            <li class="nav-item "><a href="/" class="nav-link">Accueil</a></li>

            <li class="nav-item cta mr-md-1"><a href="sign-up" class="nav-link">S'enregistrer</a></li>
            <li class="nav-item cta cta-colored"><a href="login" class="nav-link">Se connecter</a></li>
            <% } %>
          </ul>


        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <% if (user_info) { %>
            <li class="nav-item "><a href="/" class="nav-link">Accueil</a></li>
            <li class="nav-item"><a href="reservation" class="nav-link">Mes réservations</a></li>
            <li class="nav-item"><a href="demandes" class="nav-link">Mes services demandés</a></li>
            <li class="nav-item "><a href="profil" class="nav-link">Profil</a></li>
            <li class="nav-item cta cta-colored"><a href="logout" class="nav-link" >Se deconnecter</a></li>
<% } %>
            </ul>
          </div>
        </div>
      </nav>
    <!-- END nav -->
