<%- include ("header") -%>
    <div class="hero-wrap img" style="background-image: url(images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
      	<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
	        <div class="col-md-10 d-flex align-items-center ftco-animate">
	        	<div class="text text-center pt-5 mt-md-5">
	        		<p class="mb-4">Vous êtes à la recherche de l'aide, vous êtes dans le bon endroit</p>
	            <h1 class="mb-5">La meilleur plateforme pour vous trouver une solution</h1>
							<div class="ftco-counter ftco-no-pt ftco-no-pb">
			        	<div class="row">
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-worldwide"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="<%= nb_villes %>">0</strong>
					                <span>Villes</span>
				                </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-visitor"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="<%= domaine.length %>">0</strong>
					                <span>Domaines</span>
					              </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-resume"></span>
				              	</div>
				              	<div class="desc text-left">
								<!-- nb a recuperer apres de la bd -->
					                <strong class="number" data-number="<%= benevole %>">0</strong>
					                <span>Bénévoles</span>
					              </div>
				              </div>
				            </div>
				          </div>
				        </div>
			        </div>
							<div class="ftco-search my-md-5">
								<div class="row">
			            <div class="col-md-12 nav-link-wrap">
				            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				              <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Trouver un bénévole</a>
				            </div>
				          </div>
				          <div class="col-md-12 tab-wrap">
				            <div class="tab-content p-4" id="v-pills-tabContent">
				              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
				              	<form  id="compe" class="search-job"  action="/chercher_competences" method="POST">
				              		<div class="row no-gutters">
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="icon"><span class="icon-briefcase"></span></div>
													           <select name="select_id" id="select_id" class="form-control" onclick='get_id_domaine()'>
							                      	<option value="" disabled>Domaine</option>
													<!-- A récuperer de la bd-->
											 <% for (const domain of domaine) { %>
													            <option value="<%= domain.id_domaine%>" ><%= domain.nom_domaine%></option>
												  <% } %>
							                     </select>
									              </div>
								              </div>
				              			</div>
										     			<div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="select-wrap">
							                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
							                      <select name="competence" id="competence" class="form-control">
							                      	<option value="" disabled>Compétences</option>
							                      </select>
							                    </div>
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="icon"><span class="icon-map-marker"></span></div>
													          <select name="ville_id" id="ville_id" class="form-control">
							                      	<option value="">Ville</option>
													<!-- A récuperer de la bd-->
											               <% for (const Ville of model) { %>
													             <option value="<%= Ville.id %>"><%= Ville.nom %></option>
												              <% } %>
							                      </select>
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md">
				              				<div class="form-group">
				              					<div class="form-field">
								                	<button type="submit" class="form-control btn btn-primary">Rechercher</button>
									              </div>
								              </div>
				              			</div>
				              		</div>
				              	</form>
				              </div>
				          </div>
				        </div>
			        </div>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>
   <div class="container">
     <% if (comp_exist==1){%>
            <% if (comp.length==0) { %>
                       <div class="alert alert-danger col-sm-12">Pas de disponibilites</div>
                 <% }  else {  for (const competence of comp) {%>
                <div class="row">
                <div class="col-lg-8 pr-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="team d-md-flex p-4 bg-white">
                            <div class="img" style="background-image: url(images/im.png);"></div>
                            <div class="text pl-md-4">
                                 <h2 class="mr-3 text-black"><a href="#"><%=competence.nom_comp%></a></h2>
                                <h3 class="mr-3 text-black"><%=competence.nom%> <%= competence.prenom%></h3>
                                <div class="job-post-item-body d-block d-md-flex">
                                <span class="icon-my_location"></span><%=competence.ville_name%>
                                 <div class="mr-3"><span class="icon-layers"></span><%=competence.date%> à <%=competence.horaire%></div></div>
                                <p><a href="/Reserver?user=<%= competence.id_utilisateur%>&comp=<%= competence.id%> " class="btn btn-primary">Réserver</a></p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%}}}%>
   </div>
<%- include ("footer") -%>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  <script>
  /*Affichage des compétences deans le select de compétence*/
  function get_id_domaine() {
  var id = document.getElementById("select_id").value;

   var formu    = document.getElementById("compe");
   var selcom    = document.getElementById("competence");
   while (selcom.hasChildNodes())
   {
     // Supprime le premier noeud.
     selcom.removeChild(selcom.firstChild);
   }

   switch(id){
     case "1":

     var opt = document.createElement("option");
     opt.setAttribute("value", "1");
     var itmText = document.createTextNode("Tailler des rosiers");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "2");
     var itmText = document.createTextNode("Tailler herbe");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "3");
     var itmText = document.createTextNode("Couper des branches");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "4");
     var itmText = document.createTextNode("Planter");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "2":

     var opt = document.createElement("option");
     opt.setAttribute("value", "5");
     var itmText = document.createTextNode("Installation des logiciels");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "6");
     var itmText = document.createTextNode("Formatage équipement");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "7");
     var itmText = document.createTextNode("Réparation matériel");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "3":

     var opt = document.createElement("option");
     opt.setAttribute("value", "8");
     var itmText = document.createTextNode("Cours supplémentaires matière scientifique");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "9");
     var itmText = document.createTextNode("Cours supplémentaires matière littéraires");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "10");
     var itmText = document.createTextNode("Cours de musique");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "4":

     var opt = document.createElement("option");
     opt.setAttribute("value", "11");
     var itmText = document.createTextNode("Réparation meuble");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "12");
     var itmText = document.createTextNode("Réparation vélo");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "13");
     var itmText = document.createTextNode("Réparation voiture");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "14");
     var itmText = document.createTextNode("Réparer des serrures");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "5":

     var opt = document.createElement("option");
     opt.setAttribute("value", "15");
     var itmText = document.createTextNode("Peinture");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "16");
     var itmText = document.createTextNode("Couler une dalle de béton");
     opt.appendChild(itmText);
     selcom.appendChild(opt);


     break;

     case "6":

     var opt = document.createElement("option");
     opt.setAttribute("value", "17");
     var itmText = document.createTextNode("Epilation");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "18");
     var itmText = document.createTextNode("Maquillage");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "19");
     var itmText = document.createTextNode("Coiffure");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "20");
     var itmText = document.createTextNode("Onglerie");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "7":

     var opt = document.createElement("option");
     opt.setAttribute("value", "21");
     var itmText = document.createTextNode("Soigner une plaie");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "22");
     var itmText = document.createTextNode("Faire des piqûres");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "8":

     var opt = document.createElement("option");
     opt.setAttribute("value", "23");
     var itmText = document.createTextNode("Recoudre un vêtement");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "24");
     var itmText = document.createTextNode("Prendre des mesures");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "9":

     var opt = document.createElement("option");
     opt.setAttribute("value", "25");
     var itmText = document.createTextNode("Ménage");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "26");
     var itmText = document.createTextNode("Accompagnement sénior");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;

     case "10":

     var opt = document.createElement("option");
     opt.setAttribute("value", "27");
     var itmText = document.createTextNode("Préparation repas");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     var opt = document.createElement("option");
     opt.setAttribute("value", "28");
     var itmText = document.createTextNode("Apprentissage recette");
     opt.appendChild(itmText);
     selcom.appendChild(opt);

     break;
   }

  }
  </script>

  </body>
</html>
