<%- include ("header") -%>

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Profil</span></p>
            <h1 class="mb-3 bread"> Mes réservations </h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">


        </div>

      <div class="container">
        <div class="row">
          <div class=" pr-lg-4">
            <div class="row">


          </div>


          </section>

          </div>


        </div>
      </div>
    </section>
     <script type="text/javascript">
      if('WebSocket' in window) {

        var ws = new WebSocket("ws://localhost:8001/");

        console.log("Tentative de connexion...");
          // Lors de l'ouverture de connexion
        /*ws.onopen = function() {
          console.log("Socket ouvert");
          // Envoi de la chaîne texte
          ws.send(<%= user_info.id_utilisateur %>);
        };*/
        console.log("Reception1");
        ws.onmessage = function(e){
          console.log("reception");
         // alert(e.data);
          var object = JSON.parse(e.data);
          alert(object);
        };

          // Lors d'une erreur de connexion
        ws.onerror = function(e) {
          console.log("Erreur de connexion");
        };
          // Lors de la fermeture de connexion
        ws.onclose = function(e) {
          if(e.wasClean) {
            console.log("Socket fermé proprement");
          }
          else {
            console.log("Socket fermé");
            if(e.reason) log(e.reason);
          }
        };

        } else {

        alert("Ce navigateur ne supporte pas WebSockets");

      };
    </script>


    <%- include ("footer") -%>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
