<%- include ("header") -%>

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Profil</span></p>
            <h1 class="mb-3 bread">Informations & Compétences</h1>
          </div>
        </div>
      </div>
    </div>
   <!-- Modal content-->
   <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title subadge">Nouvelle Disponibilité</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">


          <div id="nom" class="mr-3 text-black"></div>
          <div id="comp" class="subadge"></div>
          <div id="date"></div>
          <span class="icon-my_location"><div id="ville"></div></span>

        </div>
  <div class="modal-footer">
        <a href=" "  id="reserver" class="btn btn-primary">Réserver</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Refuser</button>
      </div>
      </div>

    </div>
  </div>

     <!-- Modal fin-->

		<section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">


        </div>
        <div class="row block-9">

          <div class="col-md-6 order-md-last d-flex">
		   		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
				<h2>Compétences</h2>
					<div class=" pr-lg-4">
						<div class="row">
            <% for (const comp of dispo_user) { %>



							<div class="col-md-12 ftco-animate">
		            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header align-items-center">
		                	<span class="subadge"><%=comp.nom_domaine%></span>
		                  <h2 class="mr-3 text-black"><a href="#"><%=comp.nom_comp%></a></h2>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">

		                  <div><span class="icon-my_location"></span> <span><%=comp.nom%>  </span></div>
                      <div class="mr-3"><span class="icon-layers"></span><%=comp.date%> à <%=comp.horaire%></div>

		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		            <a href="/delete/<%= comp.id_comp%>" class="btn btn-primary py-2">Supprimer</a>
		              </div>
		            </div>
		          </div><!-- end -->
              <% } %>
                <div>
                <a href="/Supprimer_compte/<%= user_info.id_utilisateur%>" class="btn btn-primary py-2">Supprimer mon compte</a>
                  </div>
				  </div>
				  </div>
				  </div>
				  </div>

				  </section>

          </div>

          <div class="col-md-6 d-flex">


            <form  method="POST" action= "/update-User" class="bg-white p-5 contact-form">
			<h2>Informations</h2>

       <% if (user_info) { %>


                   <div class="form-group">
                <input type="text" class="form-control" name="prenom" placeholder ="prenom"  value=<%=user_info.prenom%>>
              </div>
			  <div class="form-group">
                <input type="text" class="form-control"  name="name" placeholder="nom" value=<%=user_info.nom%>>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="email" value=<%=user_info.email%>>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="tel"placeholder="tel" value=<%=user_info.tel%>>
              </div>

              <div class="form-group">
                <input type="submit" value="Mettre à Jour les informations" class="btn btn-primary py-3 px-5 center">
              </div>
              <div class="form-group">
                <a href="/add_competence" class="btn btn-primary py-3 px-5 center">Ajouter une compétence</a>
              </div>
              <div class="form-group">
                <a href="/ask_service" class="btn btn-primary py-3 px-5 center">Demander un service</a>
              </div>

              <% }else {%>
                     <div class="alert alert-danger col-sm-12">Vous etes pas connecté!! Vous devrez vous connecter pour accéder a votre profil</div>

                   <%} %>


            </form>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      if('WebSocket' in window) {

        var ws = new WebSocket("ws://localhost:8001/");

        console.log("Tentative de connexion...");
          // Lors de l'ouverture de connexion
        ws.onopen = function() {
          console.log("Socket ouvert");
          // Envoi de la chaîne texte
          ws.send(<%= user_info.id_utilisateur %>);
        };
        console.log("Reception1");
         ws.onmessage = function(e){
          //alert("reception");
          //alert(e.data);
          var object = JSON.parse(e.data);
          //alert(e.data.date);
          //alert(object.date);
           $("#myModal").modal();
          // $(".modal-body #comp").val( object.date );
           document.getElementById('date').innerHTML =object.date + " à " +object.horaire;
           document.getElementById('comp').innerHTML =object.nom_comp;
           document.getElementById('ville').innerHTML =object.ville_name;
           document.getElementById('nom').innerHTML =object.nom + " " + object.prenom;
           document.getElementById('reserver').href= "/Reserver?user="+object.id_utilisateur+"&comp="+object.id ;

          /* var lien = document.createElement("a");
           var libelle = document.createTextNode("Voici mon lien");
           lien.href = ""/Reserver?user="+object.id_utilisateur+"&comp="+object.id;
           lien.appendChild(libelle); // ajout du texte dans le lien
          document.body.appendChild(lien); // ajout du noeud lien dans le corps de la page*/


  lien.href = "javascript:coucou()";

  lien.appendChild(libelle); // ajout du texte dans le lien
  document.body.appendChild(lien); // ajout du noeud lien dans le corps de la page

        };

          // Lors d'une erreur de connexion
        ws.onerror = function(e) {
          console.log("Erreur de connexion");
        };
          // Lors de la fermeture de connexion
        ws.onclose = function(e) {
          if(e.wasClean) {
            console.log("Socket fermé proprement");
          }
          else {
            console.log("Socket fermé");
            if(e.reason) log(e.reason);
          }
        };

        } else {

        alert("Ce navigateur ne supporte pas WebSockets");

      };
    </script>

    <%- include ("footer") -%>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
