<%- include ("header") -%>

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="/">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Mes réservations</span></p>
            <h1 class="mb-3 bread"> Mes réservations </h1>
          </div>
        </div>
      </div>
    </div>

		<section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">


        </div>
      
			<div class="container">
				<div class="row">
					<div class=" pr-lg-4">
						<div class="row">
            <% for (const res of user_reservations) { %>

							<div class="col-md-12 ftco-animate">
		            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header align-items-center">
		                	<span class="subadge"><%=res.nom_comp%></span>
		                  <h2 class="mr-3 text-black"><a href="#"><%=res.nom%> <%=res.prenom%></a></h2>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">

		                  <div><span class="icon-contact_mail"></span> <span><%=res.email%>  </span></div> &nbsp;&nbsp;
                       
                      <div class="mr-3"><span class="icon-contact_phone"></span><%=res.tel%> </div>

		                </div>
                    <div class="mr-3"><span class="icon-layers"></span><%=res.date%> <%= res.id%>à <%=res.horaire%></div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		            <a href="/delete_Reservation/<%= res.id%>" class="btn btn-primary py-2">Supprimer</a>
		              </div>
		            </div>
		          </div><!-- end -->
              <% } %>

				  </div>
				 

				  </section>

          </div>

        
        </div>
      </div>
    </section>

    <%- include ("footer") -%>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
