<%- include ("header") -%>
    
    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>S'enregistrer</span></p>
            <h1 class="mb-3 bread">S'inscrire</h1>
			
          </div>
		     
        </div>
		
		
      </div>
	  
	  
							
       <div class="container">
                <div class="signup-content">
				 <% if (message.length > 0) { %>
                       <div class="alert alert-danger col-sm-12"><%= message %></div>
                 <% } %>
                    <form  method="POST" id="signup-form" class="signup-form" action="/sign-up-service" >
                        
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Nom de famille"  required="required"/>
                        </div>
						<div class="form-group">
                            <input type="text" class="form-input" name="prenom" id="prenom" placeholder="Prénom" required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Email" required="required"/>
                        </div>
						<div class="form-group">
                            <input type="number" class="form-input" name="tel" id="tel" placeholder="Numéro de Télèphone"/>
                        </div>
						<div class="form-group">
						  <select  name="" id="" class="form-input"  required="required">
							<option placeholder="Ville">Ville</option>
							
							 <% for (const Ville of model2) { %>
												
							 <option value=""><%= Ville.nom %></option>
													
							 <% } %>
							
						  </select></div>

							                   
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Mot de Passe" required="required"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
							
                        </div>
                        
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="S'inscrire">
							
							
                        </div>
                    </form>

                    <p class="loginhere">
                        Vous-avez déja un compte ? <a href="/login" class="loginhere-link">Taper ici</a>
                    </p>
                </div>
            </div>

   

   
    	
    </section>

   
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-12">
                  <form action="#" class="subscribe-form">
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include ("footer") -%>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

    
  </body>
</html>

